:root{
    --primary-text-color: #757575;
    --text-color:#212121;
    --accent-color:#2196F3;
    --primary-white-color:#FFFFFF;
    --logo-color:#000000;
    --typical-timing-duration: 250ms; 
    --typical-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --gradient: linear-gradient(to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4));
}