.team-section{
    background-color: #F5F4FA;
}
// .container.team{

// }
.team__list{
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 30px;
    @include desktop{
        flex-wrap:nowrap 
     }

}
.team__card{
    background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;

// width: 100%;
// @include tablet {
//     width: calc(#{100%} - #{30px} / #{2})

// }
// @include desktop {
//     width: calc(#{100%} - #{90px} / #{4})

// }
}
.card__image {
    margin-bottom: 30px;
    @include tablet{
        width: 354px;
        height: 374px;
    }
    @include desktop {
        width: 270px;
        height: 260px;
    }
}
.team__text{
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 16px;
}
.team__member{
    color: var(--text-color);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;

}
.team__container{
padding-top: 30px;
padding-bottom: 30px;
}


.social{
    display: flex;
    gap: 10px;
    justify-content: center;  
}
.social__icon{
fill:  currentColor;
}

.social__link{
    color: #AFB1B8;   
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: color var(--typical-timing-duration) var(--typical-timing-function),
    background-color var(--typical-timing-duration) var(--typical-timing-function);
    &:hover,
    &:focus{
    color: var(--primary-white-color);
    background-color:var(--accent-color);
    outline: none;
}
}
